[submodule "lib/voronoi"]
	path = lib/voronoi
	url = https://github.com/JCash/voronoi.git
	
[submodule "lib/poisson-disk-sampling"]
    path = lib/poisson-disk-sampling
    url = https://github.com/thinks/poisson-disk-sampling.git
[submodule "lib/delaunay"]
	path = lib/delaunay
	url = https://github.com/delfrrr/delaunator-cpp.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
